/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color:#F8F8F8;
}
#titleBar{
    color: #FFFCFC;
    background-color:#4B924E;
    height: 48px;
    width: 100%;
    position: fixed;
}
#titleBar h4{
    margin-left: 60px ;
    transform: translateY(-7px);
}
.content-conteiner
{
    float: right;
    position: relative;
    width: 80%;
}
#btnback
{
    color: #F8F8F8;
    background-color: #4CAF50;
    outline: none;
    border-radius: 50%;
    font-size: 30px;
    height: 40px;
    float: left;
    border-width: 0cm;
    margin: 4px;
}
#btnback:hover
{
    background-color: rgb(96, 189, 99);
}
#btnback:active
{
    background-color: rgb(123, 202, 126);
}
.main-space
{
    position: fixed;
    transform: translateY(48px);
    width: 80%;
    height: 100%;
}
.add-cond
{
    overflow-y: auto;
    width: 80%;
    height: 560px;
    margin: auto;
}
.form-container {
    display: flex;
    flex-direction: column;
}
  
.form-container > * {
    width: 90%;
    margin: auto;
}
.buttonMain
{
    transform: translateY(8px);
    background-color: #32AAAA;
    float: right;
}
table {
    width: 100%;
}
